<footer>
    <nav class="footer-menu">
        <div id="child-selector-container"></div>
        <a href="#" title="add child" id="add-child-link" class="hidden">[+] Add Child</a>
        <a href="#" title="first food stats" id="stats-link" class="hidden">[Chart] Stats</a>
    </nav>
</footer>